html {
  font-family: sans-serif;
}
body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
}
.header {
  align-self: left;
}
.button {
  margin: 3% auto;
  padding: 1px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.search {
  margin: 3% auto;
  padding: 1px;
  text-align: center;
  color: green;
}

.clear {
  margin: auto;
  text-align: center;
  font-size: 12pt;
}

#resultlist {
      list-style-image: url('/icons/dictionary-icon.png');
}

.word-item  {
    font-size: 14px;
    padding: 5px 7px;
    background: #ccc;
    margin: 2px;
    border-radius: 5px;
    border: 2px solid #999;
    cursor: pointer;
}

.word-item.fav {
  color: red;
}